{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Software|impulse</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  
</head>





<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
      <div class="container d-flex align-items-center justify-content-between"> 
      </div>
    </header><!-- End Header -->
    <main id="main">
      <!-- ======= Pricing Section ======= -->
      <section id="pricing" class="pricing">
        <div class="container">
          <div>
            <p class="text-info">Welldone, {{user.first_name}} {{user.last_name}} </p> <a href="/logout">(LogOut)</a> <br><br>
            <a href="/features">Back</a>
        </div><br>
        
          <div class="row" data-aos="fade-left">
            <div class="col-lg-12 col-md-6 mt-4 mt-md-0">
              <div class="box featured" data-aos="zoom-in" data-aos-delay="200">
                <h3 style="background-color:#2832c2 ;">RELEASE PRODUCT</h3>
                {% include 'routers/_alert.html'%}
                
                <section id="contact" class="contact">
                  <div class="container">
                      <div class="col-lg-8 mt-5 mt-lg-0 offset-2" data-aos="fade-left" data-aos-delay="200">
            
                        <form action="{% url 'release_stoke'%}" method="post">
                          {% csrf_token %}
                          <div class="php-email-form" role="form">
                          <div class="row">
                            <div class="col-md-12 form-group">
                              <input type="text" name="code" class="form-control" id="name" placeholder="Product code" required style="border-radius: 60px;" >
                            </div>
                            <div class="col-md-12 form-group">
                              <input type="text" name="ctype" class="form-control" id="name" placeholder="Color type" required style="border-radius: 60px;" >
                            </div>
                            <div class="col-md-12 form-group mt-3 ">
                              <input type="text" class="form-control" name="icode" id="email" placeholder="Invoice code" required style="border-radius: 60px;">
                            </div>
                            <div class="col-md-12 form-group mt-3 ">
                              <input type="number" class="form-control" name="qty" id="email" placeholder="Quantity" required style="border-radius: 60px;">
                            </div>
                            <div class="col-md-12 form-group mt-3 ">
                              <input type="text" class="form-control" name="litre" id="email" placeholder="Litre" required style="border-radius: 60px;">
                            </div>
                            <div class="col-md-12 form-group mt-3 ">
                              <input type="text" class="form-control" name="s_keper" id="email" placeholder="Stock Keeper" required style="border-radius: 60px;">
                            </div>
                            <input name="name" value="{{user.first_name}} {{user.last_name}}" hidden>
                          </div>
                          <div class="form-group mt-3">
                            <input type="text" class="form-control" name="cname" id="subject" placeholder="Client Name" required style="border-radius: 60px;">
                          </div>
                          <div class="my-3">
                          </div>
                          <div  class="text-center"><button type="submit"style="background-color: #2832c2;">RELEASE NOW</button></div></div>
                        </form>
            
                      </div>
            
                    </div>
            
                  </div>
                </section>
              </div>
            </div>
  
            
  
          </div>
  
        </div>
      </section><!-- End Pricing Section -->
  
     
  
      
  
    </main><!-- End #main -->




<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

    

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Software Impulse</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by <a href="#">Software impulse</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js'%}"></script>

</body>

</html>