{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Software|impulse</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  
</head>

  <style>
    * {
      box-sizing: border-box;
    }
    
    #myInput {
      background-image: url('/css/searchicon.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      width: 100%;
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }
    
    #myTable {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #ddd;
      font-size: 18px;
    }
    
    #myTable th, #myTable td {
      text-align: left;
      padding: 12px;
    }
    
    #myTable tr {
      border-bottom: 1px solid #ddd;
    }
    
    #myTable tr.header, #myTable tr:hover {
      background-color: #2832c2 ;
      color: #fff;
    }
    </style>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between"> 
    </div>
  </header><!-- End Header -->
 
  <main id="main">
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">
        <div>
          <p class="text-info">Welldone, {{user.first_name}} {{user.last_name}} </p> <a href="/logout">(LogOut)</a> <br><br>
          <a href="/features">Back</a>
      </div><br>
        <div class="row mt-4" data-aos="fade-left">
          <div class="col-lg-12 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="200">
              <h3 style="background-color:#2832c2 ;">  Stock position</h3>
              <div class="row">
              <div class="col-lg-4 mb-4  ">
              <input  class="form-control " id="myInput" onkeyup="myFunction()" type="search"  placeholder="Search by color.." title="Type in a name">
            </div>
           
            
            </div>
              <div style="overflow-x:auto;">
                <table id="myTable" class="scrollable-table">
                  <thead   style="background-color:#2832c2 ; color:#fff;" >
                    <tr>
                      <th scope="col">Product code</th>
                      <th scope="col">Color</th>
                      
                      <th scope="col">Litre</th>
                      <th scope="col">Balance</th> 
                    </tr>
                  </thead>
                  <tbody>
                    {% if all_stock %}
                    {% for data in all_stock %}
                    <tr>
                    <th scope="row"> <a href="{% url 'singlebin' data.id %}">{{data.product_code}}</a> </th> 
                      <td >{{data.product_color}}</td> 
                      <td>{{data.litre}}</td>
                      <td>{{data.qty}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <div>
                      Check the stock position page later please
                    </div>
                    {% endif %}
                  
                    <!-- <tr>
                       <th scope="row"> <a href="binPortal.html">506</a> </th> 
                      <td >brown</td>
                      <td>20</td>
                      <td>40</td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
             
              <!-- <nav aria-label="Page navigation example ">
                <ul class="pagination offset-5 mt-5 " >
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav> -->
            </div>
           
          </div>

          

        </div>
        
      </div>
    </section><!-- End Pricing Section -->

    <script>
      function myFunction() {
        var input, filter, table, tr, td, i,tl, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        tl = table.getElementsByTagName("tr")
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          td = tl[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
              tl[i].style.display = "";
            } else {
              tr[i].style.display = "none";
              tl[i].style.display = "none";
            }
          }       
        }
      }
      
      </script>
      <!-- <script>
        $('#search').keyup(function() {
          var regex = new RegExp($('#search').val(), "i");
          var rows = $('table tr:gt(0)');
          rows.each(function (index) {
            title = $(this).children("#title").html()
            if (title.search(regex) != -1) {
              $(this).show();
            } else {
              $(this).hide();
            }
          });
        });
      </script> -->
    

  </main><!-- End #main --> <br> <br> <br> <br> <br>


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

    

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Software Impulse</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by <a href="#">Software impulse</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js'%}"></script>

</body>

</html>